## EDA Section <br>
**Was created by:** Matsvei Makhnou<br><br>
**Short description:** <br>In this notebook I'll explore ma data. In the end u will be able to find a conclusion on what to do with data and what kind of model i will use to train my model.

#### Section for novigating through the notebook:
[Conclusion and Reccomendations](#conclusion) - Canclusion and Recommendations after EDA  <br>

In [1]:
import pandas as pd

In [2]:
path = "/workspaces/ifortex/student_exam_data.csv"

df = pd.read_csv(path)
print("DataFrame loaded successfully.")

DataFrame loaded successfully.

In [3]:
df.head()

,Контрольная 1,Контрольная 2,Контрольная 3,Сон накануне,Настроение,Энергетиков накануне,Посещаемость занятий,Время подготовки,Сдал
0,4,4,9,Нет,Хорошее,4+,Низкая,За неделю,Нет
1,9,9,6,Да,Плохое,1,Средняя,Последний час,Да
2,8,6,9,Да,Хорошее,2-3,Средняя,Последний час,Да
3,8,4,9,Да,Хорошее,1,Высокая,Последняя ночь,Да
4,9,10,4,Нет,Нормальное,1,Низкая,Последний час,Да

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Контрольная 1         300 non-null    int64
 1   Контрольная 2         300 non-null    int64
 2   Контрольная 3         300 non-null    int64
 3   Сон накануне          300 non-null    object
 4   Настроение            300 non-null    object
 5   Энергетиков накануне  300 non-null    object
 6   Посещаемость занятий  300 non-null    object
 7   Время подготовки      300 non-null    object
 8   Сдал                  300 non-null    object
dtypes: int64(3), object(6)
memory usage: 21.2+ KB

As we can clearly see above we don't have any missing data. And we have just 3 numerical features, so we have to learn a bit more about our categorical features.

In [ ]:
df.describe().T

               count      mean       std  min  25%  50%  75%   max
Контрольная 1  300.0  7.130000  2.003283  4.0  5.0  7.0  9.0  10.0
Контрольная 2  300.0  6.936667  2.009839  4.0  5.0  7.0  9.0  10.0
Контрольная 3  300.0  6.940000  2.028987  4.0  5.0  7.0  9.0  10.0

In [ ]:
categorical_columns = [
    "Сон накануне",
    "Настроение",
    "Энергетиков накануне",
    "Посещаемость занятий",
    "Время подготовки",
]
for col in categorical_columns:
    print(f"Unique values in {col}:")
    print(df[col].unique())
    print()

# Check for duplicates
duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Unique values in Сон накануне:
['Нет' 'Да']

Unique values in Настроение:
['Хорошее' 'Плохое' 'Нормальное']

Unique values in Энергетиков накануне:
['4+' '1' '2-3' '0']

Unique values in Посещаемость занятий:
['Низкая' 'Средняя' 'Высокая']

Unique values in Время подготовки:
['За неделю' 'Последний час' 'Последняя ночь' 'За несколько дней']

Number of duplicate rows: 0

In [23]:
df["Сдал"].value_counts()

Сдал
Да     193
Нет    107
Name: count, dtype: int64

### <a id =  'conclusion'> Conclusion and Reccomendations </a>
Based on the exploratory data analysis (EDA), the following insights and decisions have been made:
#### Model Selection:\,
- A **CatBoost** model will be used for training due to its ability to handle categorical features natively without requiring extensive preprocessing.
- Given the small dataset size (300 samples), **cross-validation** will be employed to ensure robust evaluation and prevent overfitting.
#### Handling Categorical Features (recommendation if u want to build ur own model):
The dataset contains 5 categorical features, and the following preprocessing strategies are recommended:
1. **`Сон накануне`**: Convert \"yes\" to 1 and \"no\" to 0 (binary encoding).
2. **`Настроение`**: Map values to an ordinal scale [1, 2, 3, 4, 5], as the order of values is meaningful.
3. **`Посещаемость занятий`**: Similar to `Настроение`, map values to an ordinal scale [1, 2, 3, 4, 5].
4. **`Время подготовки`**: Apply **One-Hot Encoding**, as there is no inherent order in the categories.
5. **`Энергетиков накануне`**: Two approaches are suggested:
- **One-Hot Encoding**: Treat each category (0, 1, 2-3, 4+) as distinct.
- **Ordinal Encoding**: Map categories to [1, 2, 3, 4], assuming the number of energy drinks consumed might have an ordinal relationship.
- Experiment with both approaches to determine which yields better results.
#### Data Imbalance:
- The target variable (`Сдал`) is imbalanced. Consider the following techniques to address this:
- Use **class weights** in the CatBoost model.
- Apply **oversampling** (e.g., SMOTE) or **undersampling** techniques.
- Evaluate metrics like **F1-score**, **precision**, and **recall** instead of accuracy to assess model performance.

#### Additional Notes:
- Ensure proper feature scaling for numerical features if required by other models in the future.
- Validate preprocessing steps and model performance using cross-validation to avoid data leakage.
- Document the results of experiments with different encoding strategies and imbalance handling techniques for reproducibility.
By following these recommendations, the dataset is well-prepared for training a robust and interpretable model."